<!DOCTYPE html>
<html>

<head>
    <title>QA 回報統計</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 20px;
        }

        table {
            border-collapse: collapse;
            margin-top: 10px;

        }

        td,
        th {
            border: 1px solid #aaa;
            padding: 2px;
        }

        h2 {
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <h1>QA 統計每日上傳</h1>

    <form method="POST" enctype="multipart/form-data" onsubmit="return handleSubmit(event)">
        <label for="report_date">回報日期:</label>
        <input type="date" name="report_date" id="todayDate" required>
        <br>
        <input type="file" name="file" id="file">
        <button type="submit" name="action" value="upload">上傳 CSV</button>
        <button type="submit" name="action" value="query">查詢</button>
    </form>

    {% if results %}
    <h2>統計結果</h2>
    <table id="my-table">
        <tr>
            <th style="color: red;" id="today-header">{{report_date}}</th>
            {% for cat in all_categories %}
            {% if cat == '重要未處理' %}
            <th style="color: red;">重要未處理</th>
            {% else %}
            <th>{{ cat }}</th>
            {% endif %}
            {% endfor %}
        </tr>

        {% for name in results.keys() %}
        <tr>
            <td>{{ name }}</td>
            {% for cat in all_categories %}
            <td>{{ results[name][cat] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}


    </table>
    {% endif %}


</body>
<script>
    // 把今天的日期轉換成 YYYY-MM-DD 格式
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('todayDate').value = today;

    function handleSubmit(event) {
        const form = event.target;
        const clickedButton = document.activeElement; // 找出按下的是哪顆按鈕
        const fileInput = document.getElementById('file');

        if (clickedButton.name === 'action' && clickedButton.value === 'upload') {
            if (!fileInput.value) {
                alert('請選擇檔案後再上傳');
                return false; // 阻止送出
            }
        }
        return true; // 通過送出
    }

</script>

</html>