

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 px-3">
  <a class="navbar-brand fw-bold" href="/">QA回報系統</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">每日回報</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/month-trend">每月趨勢圖</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/history">歷史查詢</a>
      </li>
    </ul>
  </div>
</nav>